body {
  color: #48484a;
  margin: 70px auto;
  max-width: 500px;
  font-family: "Rajdhani";
  background-color: #b9e3f7;
}
div.container {
  max-width: 500px;
  border-radius: 10px;
  padding-top: 30px;
  padding-bottom: 1px;
  background: linear-gradient(to bottom, #fff1eb 0%, #ace0f9 100%);
}
div.wrapper {
  background-color: #fff;
  padding: 20px 20px 20px 20px;
  border-radius: 10px;
}
div.current {
  text-align: center;
  margin-top: 20px;
}
div.current h4 {
  line-height: 40px;
}
div.current-extra {
  text-align: center;
  font-size: 22px;
}
div.current-extra strong {
  font-size: 22px;
}

div.footer p {
  text-align: center;
  opacity: 0.7;
}

#icon {
  position: relative;
  bottom: 26px;
  width: 9rem;
}
#city-display {
  font-size: 38px;
}
.feelslike {
  color: #48484a;
  font-size: 26px;
}
.description {
  text-transform: capitalize;
  font-size: 26px;
  font-weight: 800;
  position: relative;
  bottom: 20px;
}
.weather-forecast {
  text-align: center;
  font-size: 22px;
  line-height: 15px;
  margin: 30px 0 30px 0;
}
.forecastIcon {
  width: 4rem;
}
.temperature {
  font-size: 7rem;
}
.light {
  opacity: 0.7;
}
.degree {
  font-size: 2rem;
  position: relative;
  bottom: 49px;
  right: 15px;
  color: #48484a;
  font-weight: 800;
}
